@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Ubuntu Mono", monospace;
  color: white;
  background-color: #1a1a1a;
}

a {
  text-decoration: underline;
}
a:hover {
  color: #227cf1;
  transition: color 0.25s;
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.layout {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.footer {
  background-color: #222;
  color: white;
  text-align: center;
  justify-content: center;
  padding: 1em 0;
  position: relative;
  width: 100%;
  flex-shrink: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.6em;
}

hr {
  width: 100%;
  margin: 0.25em 0;
  border-color: #777;
}

input {
  background-color: #333;
  border: 1px solid #333;
  border-radius: 0.2em;
  color: white;
  padding: 0.4em;
  font-family: inherit;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: #a0a0a0;
  font-style: italic;
}


button {
  background-color: #333;
  border-radius: 0.2em;
  font-family: inherit;
  text-align: center;
  padding: 0.4em;
  cursor: pointer;
}

button:hover {
  background-color: #3a3a3a;
  scale: 1.02;
  transition: background-color 0.25s, scale 0.15s;
}

.SidebarButtons {
  background-color: #333;
  border-radius: 0.2em;
  font-size: 1.05em;
  font-family: inherit;
  text-align: left;
  padding: 0.4em 0.8em;
  width: 100%;
  cursor: pointer;
}

.SidebarButtons:hover {
  background-color: #3a3a3a;
  scale: 1.02;
  transition: background-color 0.25s, scale 0.15s;
}

.sidebar {
  position: relative;
  top: 0;
  left: 0;
  overflow-y: auto;
  width: 13em;
  flex-shrink: 0;
  border-right: 1px solid #353535;
  background-color: #252525;
}

.image-grid {
  display: grid;
  padding: 0.65em;
  border-radius: 0.2em;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 0.5em;
  height: 45vh; 
  width: 100%;
  overflow-y: auto;
}

.image-grid img {
  width: 100%;
  border-radius: 0.5em;
  height: auto;
  object-fit: cover;
}